@theme {
    /* Font Family */
    --text-logo: 1.375rem;

    --text-hero-lg: 5rem;
    --text-hero-md: 3.75rem;
    --text-hero-sm: 2.75rem;

    --text-tagline-lg: 2rem;
    --text-tagline-md: 1.75rem;
    --text-tagline-sm: 1.25rem;

    --text-h1-lg: 2rem;
    --text-h1-md: 1.75rem;
    --text-h1-sm: 1.5rem;

    --text-h2-lg: 1.375rem;
    --text-h2-md: 1.25rem;
    --text-h2-sm: 1.25rem;

    --text-h3-lg: 1.125rem;
    --text-h3-md: 1.125rem;
    --text-h3-sm: 1.053rem;

    --text-body: 1rem;
    --text-caption: 0.75rem;

    /* Font Weight */
    --font-weight-hero: 800;
    --font-weight-tagline: 800;
    --font-weight-h1: 800;
    --font-weight-h2: 700;
    --font-weight-h3: 600;
    --font-weight-body: 400;
    --font-weight-caption: 400;

    /* Font Family */
    --font-sans: "Inter", sans-serif;
    --font-handwriting: "Just Another Hand", cursive;

    /* Line Heights */
    --line-height-hero: 1.2;
    --line-height-tagline: 1.1;
}